body {
    text-align: center;
    background-color: #3F82D3;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

header {
    color: white;
    font-size: 18pt;
}
section {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    height: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}